:root {
    --button: #f4efec;
    --font_color: #05386b;
    --font_style_korea: 'Gamja Flower', cursive;
    --font_style_english: 'Balsamiq Sans', cursive;
    --beige: #f8e3de;
    --point: #fff8d4;   
    --purple: #e6dae8;
    --yellow: #fffdee;
    --ivory: #efdcbe;
}

html, body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--beige);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
   
}

.container {
    margin:0;
    width: 400px;
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: row;    
    align-items: center;
    box-shadow: 5px 5px 5px #aaaaaa;
    background: var(--yellow);
    background-size: cover;   

}

button {
    border-style: none;
    width:100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: var(--font_color);
    background: var(--beige);
    border-radius: 5px;
    font-family: var(--font_style_korea);
}

ul, ul li{
    text-decoration : none;
    list-style: none;
    background: none;    
    margin: 0;
    padding: 0;
}

h1, p, h3 {
    color: var(--font_color);
    font-family: var(--font_style_korea), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;
      }
    /* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--beige);
    }

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
    .container {
        margin:0;
        width: 100%;
        height: 100vh;
    }
}

.welcome {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.welcome h1 {
    font-size: 50px;
}

.welcome p {
    font-size: 20px;
}

.welcome a {
    width: 100%;
    height: 100%;
}

.welcome a .welcome__button {
    width: 200px;
    height: 50px;
    background: var(--beige);    
}


.first {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: all 0.5s ease-in;
    margin: 0;
    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
    animation-duration: 0.5s;
    padding: 10px;
    margin-top: 10px;
}

.first h3 {
    margin: 5px;
    font-size: 15px;
}

.first h1{
    text-align: center;
    margin-bottom: 5px;
}

.first button {
    background: var(--beige);
}

.first .calendar__table {
    width: 100%;
    position: absolute;
    bottom: 5;    
    margin-bottom: 30px;
}

.first .calendar__table table{
    width: 95%;
}

.first tr {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
}

.first .day td {
    height: 30px;
    text-align: center;
    font-family: var(--font_style_korea);
}

.first .week td {
    height: 60px;
}

.second {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;

    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
    animation-duration: 0.5s;
    padding: 10px;

}

.second .item__list {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin:0;
    font-family: var(--font_style_korea);    
}

.second .item__list ul{
    margin: 0;
    left: 0;    
    text-align: center;
    list-style: none;
    padding:0;
}

.second .item__list ul li #name, .second .item__list ul li #amount{
    height:25px;
    padding: 5px
}

.second .item__list img {
    width: 100%;
}

.second .item__list p {
    font-size: 12px;
    width: 100%;
    height: 100%;
    color: var(--font_color);
    margin: 0;
    padding: 0;
}

.second .add_button {
    display: block;    
}

.second button{
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}

.second .fix_button {
    display: none;
}

.second .fix_button button{
    background: var(--font_color);
    color: var(--beige);
}

.second .item #amount {
    display: flex;
    flex-direction: row;    
}

.second .item #amount input {
    border: none;
    text-align: center;
    width: 150px;    
}

.total_check {
    display: block;
    margin: 0;
    height: 0;
    width: 100%;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;    
    background: rgba(255, 248, 212, 0.8);
    transition: height 0.5s ease-in-out;

    text-align: center;

}

.total_check p {
    margin: 0;    
}

.nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    
}

.nav a {
    text-align: center;
    width: 100%;
    height: 30px;    
    padding: 0;
    margin: 0;
    font-size: 20px;

}

.nav button {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 0;
    background: rgba(255, 248, 212, 0.8);
    
}

.third {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;

    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.third form{
    height: 100vh;
    padding: 10px;
    font-family: var(--font_style_korea);    
}

.third .question {
    margin-top: 10px;
    width: 100%;
    padding-left: 10px;
    color: var(--font_color);
}

.third .question .time {
    margin-top: 10px;
    margin-bottom: 10px;
}

.third .question p{
    margin: 0;
    color: var(--purple);
}

.third .answer {
    margin-bottom: 20px;
    margin-top: 5px;    
}

.third .answer input{
    border: none;
    border-bottom: 1px solid var(--font_color);
    width: 100%;
    height: 30px;
    font-size: 16px;
    background: none;
    padding-left: 10px;
    
}

.third form #radio {
    width: 100%;
    height: 50px;
}

.third form #radio label {
    float:left;
    width:120px;
	margin:0px;
    background-color:var(--beige);
    border-radius:5px;
    border: 1px solid var(--yellow);
    overflow:auto;    
    margin-top: 5px;
}

.third form #radio label span {
    text-align:center;
    font-size: 16px;
    padding: 5px 0px;
    display:block;
}

.third form #radio label input {
    position:absolute;
    top:-20px;
}

.third form #radio label input:checked + span {
    background-color:var(--font_color);
    color: var(--beige);
}

.third form #radio label {
    background-color:var(--beige);
    color:var(--font_color);
}

.pickup_info {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 0px;
    transition: height 0.5s ease-in-out;
}


.office_address {
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.office_address h3 {
    color: var(--button);
}

.delivery_info {
    position: relative;
    display: none;
    margin-top: 15px;
    height: 150px;
    width: 100%;

}

.delivery_info label{
    padding-left: 10px;
    margin-top: 5px;
    height: 25px;
}

.delivery_info input{
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid var(--font_color);
}

.delivery_info button{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;    
}

#delivery_fee {
    text-align: center;
    position: relative;
    display: none;
}

#delivery_free {
    text-align: center;
    position: relative;
    display: none;
}

#delivery_error {
    text-align: center;
    position: relative;
    display: none;
}

.fourth {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;
    padding: 10px;

    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.fourth h1{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

.fourth p {
    font-size: 15px;
    margin: 10px;;
}

.fourth table {
    font-family: var(--font_style_korea);
}

.fourth table #head{
    text-align: center;
}

.fourth table td{
    height: 30px;
}

.fourth table input{
    background: var(--beige);
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    color: var(--font_color);
    font-size: 15px;
}

.fourth tr{
    width: 100%;
}

.fourth .confirmation_order input{
    width: 100%;
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */

    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 1s ease-in-out;
  }
  
  /* Modal Content/Box */
  .modal__content {
    background-color: rgba(255, 248, 212, 0.9);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: var(--font_style_korea);
    text-align: center;
  }