:root {
    --button: #f4efec;
    --font_color: #133853;
    --font_style: 'Cinzel', serif;
    --title_font: 'Caveat Brush', cursive;
    --beige: #f8e3de;
    --point: #fff8d4;   
    --purple: #e6dae8;
    --yellow: #fffdee;
    --ivory: #efdcbe;
}

html, body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--beige);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
   
}

.container {
    margin:0;
    width: 400px;
    height: 650px;
    overflow: auto;
    display: flex;
    flex-direction: row;    
    align-items: center;
    box-shadow: 5px 5px 5px #aaaaaa;
    background: var(--yellow);
    background-size: cover;   

}

button {
    border-style: none;
    width:100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: var(--font_color);
    background: var(--beige);
    border-radius: 5px;
    font-family: var(--font_style);
}

ul, ul li{
    text-decoration : none;
    list-style: none;
    background: none;    
    margin: 0;
    padding: 0;
}

h1, p, h3, h2 {
    color: var(--font_color);
    font-family: var(--font_style);
}

img.bunny_icon {
    position:absolute;
    align-self: flex-end;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;    
    margin: 10px;
    margin-bottom: 20px;
}

.bunny_icon_small {
    position: absolute;
    top:0;
    right:0;
    z-index: 99;
    width: 50px;
    margin: 10px;
    height: 50px;    
}

.bunny_icon_small img {
    width: 100%;
    height: 100%;    
}

.hidden_block {
    display: none;
    position: relative;
    height: 50px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
      }
    /* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	}
	60% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        height: 100vh;
    }

    .hidden_block {
        display: block; }
    
}

.welcome {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;    
    position: relative;
    padding: 10px;
    overflow: auto;
}

.welcome .text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome h1 {
    font-size: 50px;
    font-family: var(--title_font);
}

.welcome p {
    font-family: var(--title_font);
    margin: 0;
    margin-bottom:10px;
    font-size: 20px;
}

.welcome a {
    text-decoration: none;
    border-radius: 5px;    
}

.welcome a, .welcome .inquiry {
    width: 200px;
    height: 50px;
    background: var(--beige);
    margin-bottom: 5px;
    padding: 0;    
}

.inquiry_modal {
    display: flex; /* Hidden by default */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 0vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 1s ease-in-out;

}

.inquiry_modal__content {
    display: flex; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 248, 212, 0.9);
    width: 100vh; /* Could be more or less, depending on screen size */
    height: 100vh;
    font-family: var(--font_style);
    text-align: center;
    
}

.inquiry_modal__content form.contact_form {
    
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}

.inquiry_modal__content .date {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.inquiry_modal__content .date label{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
}

.inquiry_modal__content form input, textarea {
    width: 100%;
    overflow: auto;
    border: none;
    color: var(--font_color);
    padding: 5px;
    outline: none;
    margin-bottom: 2px;
}

.inquiry_modal__content form .text{
    height: 200px;
}

.inquiry_modal__content form p{
    margin-bottom: 0;
    align-self: flex-start;
}

.inquiry_modal__content .button{
    margin-top: 10px;
    width: 250px;
    border: none;
    color: var(--bg);    
    outline:none;    
    
    display: flex;
    justify-content: flex-end;
}

.inquiry_modal__content .button .send {
    width: 100px;
    height: 30.67px;
    padding: 2px 10px 2px 10px;
    margin-right: 5px;    
}

.inquiry_modal__content .button .close_one {
    width: 100px;
    height: 30.67px;
    padding: 2px 10px 2px 10px;
    margin-right: 0;
}

.inquiry_modal__content .close_two {
    width: 100px;
    height: 30.67px;
    padding: 2px 10px 2px 10px;
    margin-right: 0;
}


.inquiry_modal__content .sent {
    width: 350px;
    padding: 5px;
    outline: none;
    margin-bottom: 2px;
    flex-direction: column;
    align-items: center;
    
    display: none;
}

.inquiry_modal__content .sent .text_content{
    display: block;
    text-align: center;
    height: 286.44px;
}

.inquiry_modal__content .loading{
    width: 550px;
    padding: 5px;
    outline: none;
    margin-bottom: 2px;
    flex-direction: column;
    align-items: center;

    display: none;
}

.inquiry_modal__content .loading .loading_text {
    display: block;
    text-align: center;
    height: 286.44px;
}




.first {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    transition: all 0.5s ease-in;
    margin: 0;
    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
    animation-duration: 0.5s;
    padding: 10px;    
    overflow: auto;
}

.first .information {
    background-color: var(--beige);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.first p {
    margin: 5px;
    font-size: 15px;
}

.first h1, .first h2{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.first button {
    background: var(--beige);
    font-size: 12px;
    max-width: 50px;
    
}

.first .calendar__table {
    width: 100%;
    margin-top: 15px;
    position: relative;
    margin-bottom: 30px;
}

.first .calendar__table .calendar{
    width: 100%;
}

.first .day, .first .week {
    width: 100%;
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr);
}

.first .week {
    margin-bottom: 2px;
}


.first .day #td {
    height: 30px;
    margin: 0;
    text-align: center;
    font-family: var(--font_style);    
}

.first .week #td {
    height: 60px;
    margin: 0;    
}

.second {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;
    
    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
    animation-duration: 0.5s;
}

.second .item__list {
    margin-bottom: 50px;
    margin-top: 20px;
    display: grid;    
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5px;
    padding-right: 5px;
    
}

.second .cake_list, .second .dacq_list {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: var(--font_style);    
}

.second .item__list ul{
    margin: 0;
    text-align: center;
    list-style: none;    
}

.second .item__list li{
    margin: 0;
    margin-top: 3px;   
}

.second .item__list img {
    width: 100%;
}

.second .item__list #type {
    padding: 2px 5px;
    margin-top: 5px;
    margin-left: 5px;
    background: rgba(248, 227, 222, 0.6);
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    font-size: 12px;
}

.second button {
    height: 30px;
    font-size: 20px;    
}

.second .item__list #name button {
    font-size: 12px;
    height: 20px;
}

.second .item__list p {
    font-size: 15px;
    width: 100%;
    height: 100%;
    color: var(--font_color);
    margin: 0;
    padding: 0;
}


.second .add_button {
    display: block;    
}

.second .fix_button {
    display: none;
}

.second .fix_button button{
    background: var(--font_color);
    color: var(--beige);
}

.second .item #amount {
    display: flex;
    flex-direction: row;    
    text-align: center;
}

.second .item #amount input {
    font-size: 16px;
    border: none;
    text-align: center;
    width: 150px;    
}

.second .alret_modal h1,.second .alret_modal p{
    padding: 10px;
    margin: 0;
}

.second .dessert_nav_modal_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 70px;
    height: 70px;
    background: rgba(255, 248, 212, 0.7);
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--font_color);
}

.second .dessert_nav_modal, .second .cake_size_modal, .second .alret_modal {
    display: flex; /* Hidden by default */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 0vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 1s ease-in-out;

}

.second .dessert_modal_content, .second .cake_size_modal_content, .second .alret_content {
    display: flex; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 248, 212, 0.9);
    width: 100vh; /* Could be more or less, depending on screen size */
    height: 100vh;
    font-family: var(--font_style);
    text-align: center;
    
}



.total_check {
    display: block;
    margin: 0;
    height: 0;
    width: 100%;
    font-size: 20px;
    position: fixed;

    z-index: 19;

    top: 0;
    left: 0;    
    background: rgba(255, 248, 212, 0.8);
    transition: height 0.5s ease-in-out;

    text-align: center;

}

.total_check p {
    margin: 0;    
}

.nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    
}

.nav a {
    text-align: center;
    width: 100%;
    height: 30px;    
    padding: 0;
    margin: 0;
    font-size: 20px;

}

.nav button {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 0;
    background: rgba(255, 248, 212, 0.8);
    
}

.third {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;

    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.third form{
    height: 100%;
    padding: 10px;
    font-family: var(--font_style);    
}

.third .question {
    margin-top: 10px;
    width: 100%;
    padding-left: 10px;
    color: var(--font_color);
}

.third .question .time {
    margin-top: 10px;
    margin-bottom: 10px;
}

.third .question p{
    margin: 0;
    color: var(--font_color);
}

.third .answer {
    margin-bottom: 20px;
    margin-top: 5px;    
}

.third .answer input{
    border: none;
    border-bottom: 1px solid var(--font_color);
    width: 100%;
    height: 30px;
    font-size: 16px;
    background: none;
    padding-left: 10px;
    
}

.third form #radio {
    width: 100%;
    height: 40px;
}

.third form #radio label {
    float:left;
    width:120px;
	margin:0px;
    background-color:var(--beige);
    border-radius:5px;
    border: 1px solid var(--yellow);
    overflow:auto;    
    margin-top: 5px;
}

.third form #radio label span {
    text-align:center;
    font-size: 16px;
    padding: 5px 0px;
    display:block;
}

.third form #radio label input {
    position:absolute;
    top:-20px;
}

.third form #radio label input:checked + span {
    background-color:var(--font_color);
    color: var(--beige);
}

.third form #radio label {
    background-color:var(--beige);
    color:var(--font_color);
}

.pickup_info {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 0px;
    transition: height 0.5s ease-in-out;
}


.office_address {
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.office_address p {
    color: var(--button);
}

.delivery_info {
    position: relative;
    display: none;
    margin-top: 15px;
    height: 150px;
    width: 100%;

}

.delivery_info label{
    padding-left: 10px;
    margin-top: 5px;
    height: 25px;
}

.delivery_info input{
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid var(--font_color);
}

.delivery_info button{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;    
}

#delivery_fee {
    text-align: center;
    position: relative;
    display: none;
}

#delivery_free {
    text-align: center;
    position: relative;
    display: none;
}

#delivery_error {
    text-align: center;
    position: relative;
    display: none;
}

.fourth {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease-in;   

    -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.fourth h1{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.fourth p {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}


.fourth form {
    padding: 10px;
}

.fourth table {
    font-family: var(--font_style);
}

.fourth table #head{
    text-align: center;
}

.fourth table td{
    height: 30px;
}

.fourth table input{
    background: var(--beige);
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    color: var(--font_color);
    font-size: 15px;
}

.fourth tr{
    width: 100%;
}

.fourth .confirmation_order input{
    width: 100%;
    text-align: center;
}

.fourth table #item {
    width: 180px;
}

.fourth table #amount {
    width: 50px;
}


.modal {
    display: none; /* Hidden by default */

    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    transition: 1s ease-in-out;
  }
  
  /* Modal Content/Box */
  .modal__content {
    background-color: rgba(255, 248, 212, 0.9);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 100%; /* Could be more or less, depending on screen size */
    font-family: var(--font_style);
    text-align: center;
  }

.end {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;    
    padding: 10px;   
}

.end .text{
    text-align: center;
    width: 100%;
    padding: 5px;
}

.end .inquiry {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background: var(--beige);
    margin-bottom: 5px;
}

