head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Cinzel:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
  script(src="https://code.jquery.com/jquery-2.1.3.min.js")

  link(rel='stylesheet' href='/order.css')
  meta(name='description' content='Web site')
  title Baking Bunny


body

  .container
    
    section.end
      .text  
        h1 Thank You
        p#kor 본 주문으로 주문이 최종 완료되지는 않습니다.
        p#kor 적어주신 이메일 또는 전화번호로 당일 자정까지 확인 메세지를 보내드립니다.
        p#kor 연락을 못 받으셨다면 DM 부탁드립니다.
        p#kor 다른 문의가 있으시다면 아래 Inquiry 버튼을 누르시고 진행해주세요.
        p#kor 그럼 오늘도 좋은 하루되세요 :)
      
      button.inquiry(type='button') Inquiry
      
      a(href="https://www.instagram.com/baking.bunny_yyc/")
        img.bunny_icon(src="/img/logo_circle.png") 
        


    .inquiry_modal
      .inquiry_modal__content
        section.loading
          .loading_text
            p Now sending the E-mail...
        
        section.sent
          .text_content
          button.close_two(type='button') Close

        form.contact_form(method='POST' action='')
          input.name(type='text' name='name' placeholder='Name' required)
          input.email(type='text' name='email' placeholder='E-mail' required)
          .date
            label(for="date") Needed Date
            input.date_need(type='date' name='date')             
          textarea.text(placeholder='Message' name='Message' rows='4' cols='50' required)
          .button
            button.send(type='submit') Send 
            button.close_one(type='button') Close

script(type='text/javascript' src='/js/inquiry.js')