head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet")
  
  link(rel='stylesheet' href='/order.css')
  meta(name="title" content="Baking Bunny")
  meta(name="description" content="We are making fresh & delicious dessert")

  meta(property="og:title" content="Baking Bunny")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://baking-bunny.herokuapp.com/")
  meta(property="og:image" content="https://baking-bunny.herokuapp.com/img/icon.png")
  meta(property="og:description" content="We are making fresh & delicious dessert")
  meta(name="theme-color" content="#f8e3de")

  meta(name="twitter:card" content="summary_large_image")

  title Baking Bunny

body

    .container
        section.welcome
            h1 Baking Bunny
            P 항상 건강한 디저트를 생각합니다
            p 하고 싶은 말? 넣고 싶은 이미지?
            a(href='/order') 
                button.welcome__button(type='button') Online Order
            
                
                

