head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet")
  script(
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq7_wnyksRIYf6kOhCQ555TDZT0TKoeQY"
      defer)  
     
  link(rel='stylesheet' href='/order.css')
  meta(name='Baking bunny' content='Fresh & Sweet Dessert')
  title Baking Bunny

input.data(type='text' style='display:none' value=limit_data)

body

  .container
    section.first
      div.information
        h2 Information
        p - Please select the date to see our menu.
        p - Dacqouise pickup is available between Thursday and Saturday.
        p - To order custom cakes: bakingbunny.yyc@gmail.com
        p - Delivery service is available only for more than $ 50 purchase on Saturday.
        p - Additional delivery fee can range from 0 to 10 dollars by distance.
      div.calendar__table
        h2.month March - April
        .calendar
          .day
            .div(id="td") Sun
            .div(id="td") Mon
            .div(id="td") Tue
            .div(id="td") Wed
            .div(id="td") Thu
            .div(id="td") Fri
            .div(id="td") Sat
          .week
            .div(id="td")
              button#20210228.date 28
            .div(id="td")
              button#20210301.date 1
            .div(id="td")
              button#20210302.date 2
            .div(id="td")
              button#20210303.date 3
            .div(id="td")
              button#20210304.date 4
            .div(id="td")
              button#20210305.date 5
            .div(id="td")
              button#20210306.date 6                   
          .week
            .div(id="td")
              button#20210307.date 7
            .div(id="td")
              button#20210308.date 8
            .div(id="td")
              button#20210309.date 9
            .div(id="td")
              button#20210310.date 10
            .div(id="td")
              button#20210311.date 11
            .div(id="td")
              button#20210312.date 12
            .div(id="td")
              button#20210313.date 13
          .week
            .div(id="td")
              button#20210314.date 14
            .div(id="td")
              button#20210315.date 15
            .div(id="td")
              button#20210316.date 16
            .div(id="td")
              button#20210317.date 17
            .div(id="td")
              button#20210318.date 18
            .div(id="td")
              button#20210319.date 19
            .div(id="td")
              button#20210320.date 20
          .week
            .div(id="td")
              button#20210321.date 21
            .div(id="td")
              button#20210322.date 22
            .div(id="td")
              button#20210323.date 23
            .div(id="td")
              button#20210324.date 24
            .div(id="td")
              button#20210325.date 25
            .div(id="td")
              button#20210326.date 26
            .div(id="td")
              button#20210327.date 27
          .week
            .div(id="td")
              button#20210328.date 28
            .div(id="td")
              button#20210329.date 29
            .div(id="td")
              button#20210330.date 30
            .div(id="td")
              button#20210331.date 31
            .div(id="td")
              button#20210401.date 1
            .div(id="td")
              button#20210402.date 2
            .div(id="td")
              button#20210403.date 3
          .week
            .div(id="td")
              button#20210404.date 4
            .div(id="td")
              button#20210405.date 5
            .div(id="td")
              button#20210406.date 6
            .div(id="td")
              button#20210407.date 7
            .div(id="td")
              button#20210408.date 8
            .div(id="td")
              button#20210409.date 9
            .div(id="td")
              button#20210410.date 10
          .week
            .div(id="td")
              button#20210411.date 11
            .div(id="td")
              button#20210412.date 12
            .div(id="td")
              button#20210413.date 13
            .div(id="td")
              button#20210414.date 14
            .div(id="td")
              button#20210415.date 15
            .div(id="td")
              button#20210416.date 16
            .div(id="td")
              button#20210417.date 17
          .week
            .div(id="td")
              button#20210418.date 18
            .div(id="td")
              button#20210419.date 19
            .div(id="td")
              button#20210420.date 20
            .div(id="td")
              button#20210421.date 21
            .div(id="td")
              button#20210422.date 22
            .div(id="td")
              button#20210423.date 23
            .div(id="td")
              button#20210424.date 24
          .week
            .div(id="td")
              button#20210425.date 25
            .div(id="td")
              button#20210426.date 26
            .div(id="td")
              button#20210427.date 27
            .div(id="td")
              button#20210428.date 28
            .div(id="td")
              button#20210429.date 29
            .div(id="td")
              button#20210430.date 30
            .div(id="td")
              button#20210501.date 1
      .hidden_block

    section.second
      .alret_modal
        .alret_content 
          h1 Before Select
          p Menu items may contain or come into contact with eggs, peanuts, treenuts, and milk.
          p Please let us know if you have any food allergies or restrictions when you place on order.
          p If you read all, tap here :)

      .total_check
      .item__list
        .dacq_list
        .cake_list

      button.dessert_nav_modal_button(type="button")
        .icon MENU

      .dessert_nav_modal
        .dessert_modal_content 
          button.nav_all(type='button') All
          button.nav_cake(type="button") Cake
          button.nav_dacq(type="button") Dacquoise

      .cake_size_modal
        .cake_size_modal_content(value='')
          button(value="" class="xIcon" onclick="xButton_cake_taste()" style="font-size:13px") Close 
          p#kor Chose the option below
          div(id="cake_size_op")
          div(id="cake_taste")
          div(id="cake_message")
          button(id="apply" type="button" value='' onclick="cakeOption(this.parentElement.value)") Apply
          
      
      .dacq_set_modal
        .dacq_set_modal_content(value='')
          button(value="" class="xIcon" onclick="xButton_taste()" style="font-size:13px") Close 
          div.taste_info(value='')
            p#kor Please pick up 5 daqouises
            div(id="tastes")
            div(id="taste_message")
            button(id="apply" type="button" value='' onclick="tasteValue(this.parentElement.value)") Apply

      .hidden_block 
      
      .nav
        a(href='/order/eng')
          button#prev__schedule Previous
        button#next_customer Next
      
    section.third
      .bunny_icon_small
        <img src="/img/logo_circle.png">
      
      form(action="")
        ul(class="customer_form")
          li(class="question")
            label(for="cust_name") Name
          li(class="answer")
            input(type="text" id="cust_name" name="name")
          li(class="question")
            label(for="cust_name") Name on E-transfer
          li(class="answer")
            input(type="text" id="etrans_name" name="etrans_name")
          li(class="question")
            label(for="insta") Instagram ID or Email
          li(class="answer")
            input(type="text" id="insta" name="insta") 
          li(class="question")
            label(for="phone") Phone Number
          li(class="answer")
            input(type="text" id="phone" name="phone")
          li(class="question")
            label(for="allergy") Any food allergies?
          li(class="answer")
            input(type="text" id="allergy" name="allergy")
          li(class="question")
            label(for="etc") Any other inquiries?
          li(class="answer")
            input(type="text" id="etc" name="etc")
        ul(class="cake_lettering")    
        ul
          li(class="question")
            | Select Pickup/Delivery Option
          li(id="radio")
            label
              input(type='radio' id='pick' name='pickup' value='pick-up')
              span Pick Up
            label
              input(type='radio' id='delivery' name='pickup' value='delivery')
              span Delivery
          li.delivery_option_info            
          
      .delivery_option_modal
        .delivery_option_content
          button(value="" class="xIcon" onclick="xButton()") Close          
          
          div.pickup_info
            div.pickup_address
            div.pickup_location            
            div.pickup_selection
            div.pickup_specific
              p Please put specific minute for pikcup(any number between 0 - 59)
              input(type="number" max="59" id= 'specific_pick' name='specific_pick')               
            div.pickup_err
            button(id="apply" type="button" value='' onclick="pickup_apply()") Apply
          
          div.delivery_info
            p Delviery service will be placed between 1 to 4 PM on Saturday. The specific time will be noticed with the confirmation of order.
            label(for='address') Please put your Postal Code
            input(type='text' id= 'postal' name='address')
            button(type='button' id="address_check") Check address
            div(id="delivery_fee")
            div(id="delivery_specific")
              p Please put specific address to make a correct delivery service.(ex. 000 0st SW)
              input(type='text' id='specific_address' name='specific_address')               
            div.delivery_err
            button(id="apply" type="button" value='' onclick="delivery_apply()") Apply
              
      .hidden_block 

      .nav
        button#prev__items Previous
        button#next_check Check Out
    
    section.fourth
      .bunny_icon_small
        <img src="/img/logo_circle.png">

      h1 Request
      p if you want to change something, you can go to the prior menu with previous button

      form(method='POST' action="" enctype="application/x-www-form-urlencoded")
        div(class='form-group')
          table.confirmation_customer
          table.confirmation_order
        
        .nav
          button(type="button")#prev__customer Previous
          button(type="submit" onsubmit="return onSubmit()")#next_request Request

      .hidden_block
    
    .request_modal
      .request_content
        p Please wait for a second to proceed the request :)
      
    .modal
      .modal__content


script(type='text/javascript' src='/js/order_eng_0225.js')