head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet")
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
  script(
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq7_wnyksRIYf6kOhCQ555TDZT0TKoeQY"
      defer)
  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
 
    
  link(rel='stylesheet' href='/order.css')
  meta(name='Baking bunny' content='Fresh & Sweet Dessert')
  title Baking Bunny

input.data(type='text' style='display:none' value=limit_data)

body

  .container
    section.first
      div.information
        h2 Information
        p#kor - 주문을 진행하려면 픽업 날짜를 선택해주세요.
        p#kor - 다쿠아즈 라인업은 매주 다릅니다.
        p#kor - 11월 다쿠아즈 픽업은 매주 목,금,토요일에 가능합니다.
        p#kor - 커스텀 케익 주문은 카톡:Baking Bunny 로 문의주세요.
        p#kor - 딜리버리는 $50 이상 금, 토요일에 가능합니다.
        p#kor - 거리에 따라 $0 ~ $10(다운타운에서 20km 이상 떨어진 경우) 까지 딜리버리 요금이 발생합니다.
      div.calendar__table
        h2.month November
        .calendar
          .day
            .div(id="td") Sun
            .div(id="td") Mon
            .div(id="td") Tue
            .div(id="td") Wed
            .div(id="td") Thu
            .div(id="td") Fri
            .div(id="td") Sat
          .week
            .div(id="td")
              button#20201108.date 8
            .div(id="td")
              button#20201109.date 9
            .div(id="td")
              button#20201110.date 10
            .div(id="td")
              button#20201111.date 11
            .div(id="td")
              button#20201112.date 12
            .div(id="td")
              button#20201113.date 13
            .div(id="td")
              button#20201114.date 14
          .week
            .div(id="td")
              button#20201115.date 15
            .div(id="td")
              button#20201116.date 16
            .div(id="td")
              button#20201117.date 17
            .div(id="td")
              button#20201118.date 18
            .div(id="td")
              button#20201119.date 19
            .div(id="td")
              button#20201120.date 20
            .div(id="td")
              button#20201121.date 21
          .week
            .div(id="td")
              button#20201122.date 22
            .div(id="td")
              button#20201123.date 23
            .div(id="td")
              button#20201124.date 24
            .div(id="td")
              button#20201125.date 25
            .div(id="td")
              button#20201126.date 26
            .div(id="td")
              button#20201127.date 27
            .div(id="td")
              button#20201128.date 28
          .week
            .div(id="td")
              button#20201129.date 29
            .div(id="td")
              button#20201130.date 30
            .div(id="td")
              button#20201201.date 1
            .div(id="td")
              button#20201202.date 2
            .div(id="td")
              button#20201203.date 3
            .div(id="td")
              button#20201204.date 4
            .div(id="td")
              button#20201205.date 5
         
      
      .hidden_block

    section.second
      .alret_modal
        .alret_content 
          h1 Before Select
          p#kor 본 메뉴는 달걀, 견과류 그리고 우유 등을 포함할 수 있습니다.
          p#kor 만약 특정 알러지가 있으시다면 주문 하실 때 꼭 적어주세요.
          p#kor 다 읽으셨다면, 화면을 클릭해 주세요 :)

      .total_check
      .item__list
        .dacq_list
        .cake_list

      button.dessert_nav_modal_button(type="button")
        .icon MENU

      .dessert_nav_modal
        .dessert_modal_content 
          button.nav_all(type='button') All
          button.nav_cake(type="button") Cake
          button.nav_dacq(type="button") Dacquoise

      .cake_size_modal
        .cake_size_modal_content(value='') 
          button(type="button" value=1 onclick="sizeValue(this.value, this.parentElement.value)") 6 inch
          button(type="button" value=1.2 onclick="sizeValue(this.value, this.parentElement.value)") 8 inch
      
      .hidden_block 
      
      .nav
        a(href='/order/kor')
          button#prev__schedule Previous
        button#next_customer Next
      
    section.third
      .bunny_icon_small
        <img src="/img/logo_circle.png">
      
      form(action="")
        ul(class="customer_form")
          li(class="question")
            label(for="cust_name") Name
          li(class="answer")
            input(type="text" id="cust_name" name="name")
          li(class="question")
            label(for="cust_name") Name on E-transfer
          li(class="answer")
            input(type="text" id="etrans_name" name="etrans_name")
          li(class="question")
            label(for="insta") Instagram ID or Email
          li(class="answer")
            input(type="text" id="insta" name="insta") 
          li(class="question")
            label(for="phone") Phone Number
          li(class="answer")
            input(type="text" id="phone" name="phone")
          li(class="question")
            label(for="allergy") Any food allergies?
          li(class="answer")
            input(type="text" id="allergy" name="allergy")
          li(class="question")
            label(for="etc") Any other inquiries?
          li(class="answer")
            input(type="text" id="etc" name="etc")
        ul(class="cake_lettering")    
        ul
          li(class="question")
            | Select Pickup/Delivery Option
          li(id="radio")
            label
              input(type='radio' id='pick' name='pickup' value='pick-up')
              span Pick Up
            label
              input(type='radio' id='delivery' name='pickup' value='delivery')
              span Delivery
          li.delivery_option_info            
          
      .delivery_option_modal
        .delivery_option_content
          button(value="" class="xIcon" onclick="xButton()") Close          
          
          div.pickup_info
            div.pickup_address
            div.pickup_location            
            div.pickup_selection
            div.pickup_specific
              p#kor 몇분에 오시게 될지 숫자로 적어주세요 (any number between 0 - 59)
              input(type="number" max="59" id= 'specific_pick' name='specific_pick')               
            div.pickup_err
            button(id="apply" type="button" value='' onclick="pickup_apply()") Apply
          
          div.delivery_info
            p#kor 딜리버리 서비스는 금요일은 4시에서 6시, 토요일은 12시에서 2시 사이에 이뤄집니다. 정확한 시간은 주문하신 뒤에 별도 안내 드립니다.
            label(for='address') Please put your Postal Code
            input(type='text' id= 'postal' name='address')
            button(type='button' id="address_check") Check address
            div(id="delivery_fee")
            div(id="delivery_specific")
              p#kor 정확한 딜리버리 서비스를 위해 상세 주소를 남겨주세요 (ex. 000 0st SW)
              input(type='text' id='specific_address' name='specific_address')               
            div.delivery_err
            button(id="apply" type="button" value='' onclick="delivery_apply()") Apply
              
      .hidden_block 

      .nav
        button#prev__items Previous
        button#next_check Check Out
    
    section.fourth
      .bunny_icon_small
        <img src="/img/logo_circle.png">

      h1 Request
      p#kor 주문을 수정하고 싶으시면, Previous 버튼을 누르시고 변경하시면 됩니다.

      form(method='POST' action="" enctype="application/x-www-form-urlencoded")
        div(class='form-group')
          table.confirmation_customer
          table.confirmation_order
        
        .nav
          button(type="button")#prev__customer Previous
          button(type="submit" onsubmit="return onSubmit()")#next_check Request

      .hidden_block
      
    .modal
      .modal__content


script(type='text/javascript' src='/js/order_kor.js')